[Desktop Entry]
Encoding=UTF-8
Name=Capitan Sevilla
Comment=Save Seville from the evil Torrebruno
Exec=capitan
Icon=capitan.png
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;
StartupNotify=false

