[Desktop Entry]
Name=Capitan Sevilla
Comment=Save Seville from the evil Torrebruno
Exec=capitan-sevilla
Keywords=game;adventure;action;platforms;
Terminal=false
Type=Application
Icon=capitan-sevilla
Categories=Game;AdventureGame;ActionGame;
